In [ ]:
# Task One

In [23]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\ronfu\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (8.0.33)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\users\ronfu\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from mysql-connector-python) (3.20.3)

In [24]:
import mysql.connector as connector

In [25]:
connection=connector.connect(host="127.0.0.1", port=3306 ,user="admin001",password="Admin001")

In [26]:
# Task two

In [27]:
query_drop_db = "drop database if exists littlelemondb"
query_create_db = "create database if not exists littlelemondb"
query_use_db = "use littlelemondb"
query_show_db = "show databases"
query_show_tb = "show tables"
query_select_table = "select * from "
query_table_columns = "show columns from "
query_drop_table = "drop table if exists "

In [28]:
cursor = connection.cursor()
cursor_buffered = connection.cursor(buffered = True)
cursor_raw = connection.cursor(raw = True)
cursor_dict = connection.cursor(dictionary = True)
cursor_tuple = connection.cursor(named_tuple = True)

In [29]:
query_use_db = "use littlelemondb"
cursor.execute(query_use_db)
print("Database in use:",connection.database)

Database in use: littlelemondb

In [30]:
#List of tables
print("List of tables:")
lst = []
cursor_dict.execute(query_show_tb)
for tb in cursor_dict:
    for value in tb.values():
        lst.append(value.capitalize())
print(lst)
print('\n')

List of tables:
['Bookings', 'Customers', 'Customerscost50', 'Delivery', 'Employees', 'Menuitemorder1', 'Menuitems', 'Menus', 'Orders', 'Ordersview']

In [31]:
# Task 3
# Query with table JOIN

In [32]:
view_CustomersCost50_query = """
CREATE OR REPLACE VIEW CustomersCost50 AS SELECT
Customers.CustomerName,
Customers.CustomerPhone,
Orders.TotalCost
From 
Customers
INNER JOIN Bookings on Bookings.CustomerID = Customers.CustomerID
INNER JOIN Orders ON Bookings.BookingID = Orders.BookingID
Where Orders.TotalCost > 60
Order by Orders.TotalCost DESC;
"""
cursor_buffered.execute(view_CustomersCost50_query)
query = query_select_table + "CustomersCost50"
cursor_buffered.execute(query)
print(cursor_buffered.column_names)
for items in cursor_buffered.fetchall():
    print(items)

('CustomerName', 'CustomerPhone', 'TotalCost')
('Anna Iversen', '367290901', 86)
('Vanessa McCarthy', '367290903', 65)